<H1>Trainers and Pokemons</H1>
<% array = Array.new %>
<% frequencies = Hash.new(0) %>

<% @owned_pokemons.each do |pokemon| %>
   
<% array << pokemon.name %>

 <% end %>

 <% array.each{|pokemon| frequencies[pokemon] += 1} %>

 <% frequencies.each do |pokemon, number_of_trainers| %>

   <h3><%= pokemon %></h3>
   <p>Number of trainers: <%= number_of_trainers %></p>

   <hr>

 <% end %>
